<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication15.My.MySettings.gruppe4ConnectionString"
            connectionString="server=localhost;user id=root;password=Supersaiyan4;database=gruppe4"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsApplication15.My.MySettings.gruppeoppgavedbConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=gruppeoppgavedb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>